/*
Theme Name: RokoPhoto Child
Theme URI: https://www.gregoryrpitts.com
Author: Gregory Pitts/Aaron Straker
Author URI: https://gregoryrpitts.com
Template: RokoPhoto
Description: RokoPhoto is theme made for photographers with a stylish front-page for you to photograph some of your best work. This theme also includes 2 different types of sliders, portfolio section, as well as built-in contact form.
Version: 1.1.3.6
Tags: white, black, one-column, responsive-layout, custom-background, custom-header, custom-menu, featured-images, threaded-comments, translation-ready
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: rokophoto-child
*/
@import "../RokoPhoto/style.css";
.carousel-caption .content {
  position: absolute;
  right: 0;
  bottom: 0;
}
.carousel-caption .carousel-content-wrap .text {
  margin-left: 0;
  margin-right: 0;
  padding: 0 30px;
}
.carousel-caption .carousel-content-wrap .text h1 {
  text-transform: none;
  text-align: center;
  width: 100%;
  font-size: 18px;
}
@media (min-width: 768px) {
  .carousel-caption .carousel-content-wrap .text h1 {
    font-size: 28px;
    width: 400px;
  }
}
@media (min-width: 992px) {
  .carousel-caption .carousel-content-wrap .text h1 {
    font-size: 36px;
    width: 500px;
  }
}
#letter {
  clear: both;
  display: block;
  padding: 40px 0;
}
@media (min-width: 768px) {
  #letter {
    padding: 60px 0;
  }
}
@media (min-width: 992px) {
  #letter {
    padding: 75px 0;
  }
}
#letter .statement {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 16px;
}
#convo {
  clear: both;
}
#convo .convo-title {
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 992px) {
  #convo .convo-container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  #convo .convo-container {
    padding: 0 45px;
  }
}
#convo .image-container {
  padding: 0;
}
#convo .image-container img {
  max-width: 100%;
}
