/*
Theme Name: RokoPhoto Child
Theme URI: https://www.gregoryrpitts.com
Author: Gregory Pitts/Aaron Straker
Author URI: https://gregoryrpitts.com
Template: RokoPhoto
Description: RokoPhoto is theme made for photographers with a stylish front-page for you to photograph some of your best work. This theme also includes 2 different types of sliders, portfolio section, as well as built-in contact form.
Version: 1.1.3.6
Tags: white, black, one-column, responsive-layout, custom-background, custom-header, custom-menu, featured-images, threaded-comments, translation-ready
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: rokophoto-child
*/
@import "../RokoPhoto/style.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700|Montserrat);
body p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2;
  margin-bottom: 20px;
}
body .post-content li {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2;
}
body .post-content li a {
  text-decoration: underline;
}
.navbar-default {
  background-color: #222;
}
@media (min-width: 601px) {
  .navbar-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 768px) {
  .navbar-header {
    border-bottom: none;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
  }
}
@media (min-width: 992px) {
  .navbar-header {
    width: 45%;
  }
}
.navbar-header .navbar-brand {
  width: -webkit-calc(100% - 59px);
  width: calc(100% - 59px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  color: #fff;
}
@media (min-width: 601px) {
  .navbar-header .navbar-brand {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .navbar-header .navbar-brand {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .navbar-header .navbar-brand {
    padding: 10px 0;
  }
}
@media (min-width: 1200px) {
  .navbar-header .navbar-brand {
    padding: 16px 0;
  }
}
.navbar-header h4 {
  font-size: 14px;
  margin: 0;
}
@media (max-width: 601px) {
  .toggled .navbar-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 601px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    width: 62%;
    display: inline-block;
    vertical-align: middle;
  }
}
@media (min-width: 992px) {
  .navbar-nav {
    width: 55%;
  }
}
@media (min-width: 601px) {
  .navbar-nav .menu-item {
    display: inline-block;
    float: none;
  }
}
#heading {
  clear: both;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  #heading {
    padding: 30px 0;
  }
}
@media (min-width: 992px) {
  #heading {
    padding: 40px 0;
  }
}
#heading h3.heading {
  text-align: center;
  margin: 0;
}
#banner .slider-item-wrap {
  height: 300px;
}
@media (min-width: 461px) {
  #banner .slider-item-wrap {
    height: 450px;
  }
}
@media (min-width: 768px) {
  #banner .slider-item-wrap {
    height: 550px;
  }
}
@media (min-width: 768px) {
  #banner .slider-item-wrap {
    height: 600px;
  }
}
@media (min-width: 768px) {
  #banner .slider-item-wrap {
    height: 650px;
  }
}
#banner .carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  top: auto;
  left: auto;
  height: auto;
  padding: 0;
  width: auto;
}
#banner .carousel-caption .carousel-content-wrap .text {
  margin-left: 0;
  margin-right: 0;
  padding: 0 30px;
}
#banner .carousel-caption .carousel-content-wrap .text h1 {
  text-transform: none;
  text-align: center;
  width: 100%;
  font-size: 18px;
}
@media (min-width: 768px) {
  #banner .carousel-caption .carousel-content-wrap .text h1 {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  #banner .carousel-caption .carousel-content-wrap .text h1 {
    font-size: 36px;
    width: 500px;
  }
}
#letter {
  clear: both;
  display: block;
  padding: 30px 0;
}
@media (min-width: 768px) {
  #letter {
    padding: 40px 0;
  }
}
@media (min-width: 992px) {
  #letter {
    padding: 50px 0;
  }
}
#letter h3.heading {
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
}
#letter .statement {
  font-size: 16px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  #letter .statement {
    padding: 0 40px;
  }
}
#convo {
  clear: both;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
}
#convo .convo-title {
  margin: 30px 0;
  text-align: center;
}
@media (min-width: 992px) {
  #convo .convo-container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  #convo .convo-container {
    padding: 0 45px;
  }
}
#convo .image-container {
  padding: 0;
}
#convo .image-container img {
  max-width: 100%;
}
@media (min-width: 768px) {
  #convo .image-container img {
    margin-top: -1px;
  }
}
#footer p.footer-contact-email {
  margin-top: 20px;
}
.page img.featured-image-class {
  width: 75%;
  margin: auto;
  display: -webkit-inline-box;
  padding-top: 0px!important;
}
.page .blog-post {
  margin-top: 50px;
}
.page .content-page-title {
  margin-bottom: 40px;
}
